[include shell_command.cfg]
[include mainsail.cfg]
[exclude_object]
[include klack-variables.cfg]
# 2020 Creality Ender 3 V2 

# This file contains pin mappings 
# To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]

[include autoz.cfg]

# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.


[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 10.0  ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 10.0  ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True  ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 220.0 ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 222.0 ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
#                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    ; Everything insight the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    ; Everything insight the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: ""    ; Everything insight the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:


[include klackender.cfg]
#canbus_uuid: bd1f6c380bce



[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: bd1f6c380bce


[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z

#[bltouch]
#sensor_pin: ^EBBCan:PB8#^PC14
#control_pin: EBBCan:PB9#PA1
#x_offset: -37.
#y_offset: +10.
#z_offset: 0
#pin_move_time: 0.4
#probe_with_touch_mode: False
#pin_up_touch_mode_reports_triggered: False
#stow_on_each_sample: False
#speed:

#[safe_z_home]
#home_xy_position: 117.5,117.5 # Change coordinates to the center of your print bed
#speed: 50
#z_hop: 10                 # Move up 10mm
#z_hop_speed: 5

[screws_tilt_adjust]
screw1: 30, 0     #screw coordinates need to be measure for YOUR specific printer
screw1_name: front left screw
screw2: 193, 0
screw2_name: front right screw
screw3: 193, 130
screw3_name: rear right screw
screw4: 30, 130
screw4_name: rear left screw
horizontal_move_z: 10
speed: 150
screw_thread: CW-M4

[bed_mesh]
speed: 120
horizontal_move_z: 20
mesh_min: 25, 40
mesh_max: 215, 190
probe_count: 5,5
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0



[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 245
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
full_steps_per_rotation: 200 #200 for 1.8 degree, 400 for 0.9 degree
# endstop_pin: ^PC2
# position_endstop: 0.0
#endstop_pin: probe:z_virtual_endstop
#position_max: 235
#position_min: -10
endstop_pin: ^PC2 # PIN CHOSEN FOR SEXBOLT ON MAIN BOARD
position_endstop: 1. # ROUGHLY MEASURE THE POSITION FROM THE TOP OF YOUR BUILD PLATE TO THE TOP OF THE SEXBOLT. SEXBOLT SHOULD BE NO HIGHER THAN 4MM
position_min: -13 # SOME NUMBER BELOW ZERO
position_max: 230
homing_speed: 25
homing_retract_dist: 5.0
homing_retract_speed: 10
second_homing_speed: 5

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[extruder]
step_pin: EBBCan: PD0#PB3
dir_pin: EBBCan: PD1#!PB4
enable_pin: !EBBCan: PD2#!PD1
microsteps: 16
rotation_distance: 4.53348#33.500#7.71
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: .098#pla
heater_pin: EBBCan: PB13#PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBBCan: PA3#PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 300


[tmc2209 extruder]
#uart_pin: PC11
#tx_pin: PC10
#uart_address: 3
#run_current: 0.650
#hold_current: 0.500
#stealthchop_threshold: 999999
uart_pin: EBBCan: PA15
run_current: 0.650
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan controller_fan]
pin: PB15
heater: heater_bed
heater_temp: 45.0

[heater_fan nozzle_cooling_fan]
pin:EBBCan: PA1#PC7

[fan]
pin: EBBCan: PA0#PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_4800200002504B5735313920-if00

[gcode_macro NOZZLE_BRUSH]
gcode:
    G90
    G1 Z20 F3000 # raise z to clear brush
    G1 X110 Y212 F6000 #starting coordinates of brush
    G1 Z3 F3000  #z height of scrub
    G1 X150 F10000 # end location of scrub
    G1 X110 F10000
    G1 X150 F10000
    G1 X110 F10000
    G1 X150 F10000
    G1 X110 F10000
    G1 X150 F10000
    G1 X110 F10000
    G1 X150 F10000 #final swipe and clear
    G1 Z16 F3000  #raise z to clear
    

[gcode_macro m601] #USE THIS TO REPLACE PROBE_OUT MACRO ONLY IN Z_CALIBRATION CONFIG
gcode:
    G90
    G1 X245 F4000 #X LOCATION TO PICK UP PROBE
    G4 P300
    G1 Z15
    G1 X161 #X LOCATION OF PROBE BODY, USE X COORDINATE FROM SWITCH_XY_POSITION IN Z_CALIBRATION



[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state
# serial: /dev/ttyAMA0
# restart_method: command

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 5000
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.010347, -0.004653, -0.009653, 0.012847, -0.008403
#*# 	  0.006597, 0.000347, 0.036597, 0.042847, -0.014653
#*# 	  0.015347, 0.012847, -0.000903, 0.004097, -0.027153
#*# 	  0.041597, 0.027847, 0.019097, -0.002153, 0.004097
#*# 	  0.071597, 0.017847, 0.029097, 0.006597, -0.042153
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 215.0
#*# min_y = 40.0
#*# max_y = 190.0
